<div class="search-container">
  <div class="container">
<%= image_tag 'main-photo.png', class: 'cover-photo' %>
<p class="lead">Messy Hat is a social networking site for you to upskill through a community of learners.</p>



<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<div class="search-bar-wrapper">
<%= text_field_tag :my_skill, params[:my_skill], class: 'form-control search-bar', placeholder: "Search People" %>
<%= submit_tag "Search", class: 'btn btn-success' %></div>
<% end %>

</div>
</div>
</div>
</div>
