<div class="search-container">
  <div class="container">
<%= image_tag 'main-photo.png', class: 'cover-photo' %>
<p class="lead">Messy Hat is a social networking site for you to upskill through a community of learners.</p>

<fieldset class="main-fieldset">
  <input id="index-page-search" type="text" placeholder="What do you want to learn today?" size="30"/>
  <a id="index-page-btn" class="btn btn-primary btn-lg" href="#" role="button">Search &raquo;</a>
</fieldset>
</div>
</div>
</div>
</div>
