<div class="navbar-compensation">
  <div class="container">
    <div class="min-body-height">
      <div class="page-header" align="center">
        <h1>Terms Of Use</h1>
      </div>

      <div class="terms_of_use">

        <span style="font-weight: bold;">This site is provided as a service to our visitors and may be used for informational purposes only.</span>
        <br><br>
        1. YOUR AGREEMENT<br><br>
        By using this Site, you agree to be bound by, and to comply with, these Terms and Conditions. If you do not agree to these Terms and Conditions, please do not use this site.<br>

        PLEASE NOTE: We reserve the right, at our sole discretion, to change, modify or otherwise alter these Terms and Conditions at any time. Unless otherwise indicated, amendments will become effective immediately. Please review these Terms and Conditions
        periodically. Your continued use of the Site following the posting of changes and/or modifications will constitute your acceptance of the revised Terms and Conditions and the reasonableness of these standards for notice of changes. For your
        information, this page was last updated as of the date at the top of these terms and conditions.<br><br>
        2. PRIVACY<br><br>
        Please review our Privacy Policy, which also governs your visit to this Site, to understand our practices.<br><br>

        3. LINKED SITES<br><br>
        This Site may contain links to other independent third-party Web sites ("Linked Sites”). These Linked Sites are provided solely as a convenience to our visitors. Such Linked Sites are not under our control, and we are not responsible for and does not
        endorse the content of such Linked Sites, including any information or materials contained on such Linked Sites. You will need to make your own independent judgment regarding your interaction with these Linked Sites.<br>
      </div>
    </div>
  </div>
</div>
